<div class="login-container d-flex justify-content-center align-items-center vh-100">
  <div class="" style="max-width: 400px; width: 100%; border-radius: 12px;">
    <div class="card-header text-center align-items-center">
      <h4 class="card-title">Se connecter</h4>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="card-body">

        <!-- Champ Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="pat@example.com"
            formControlName="email"
            required
            (blur)="updateErrorMessage()">
          <div class="text-danger mt-1" *ngIf="email?.invalid && email?.touched">
            {{ errorMessage }}
          </div>
        </div>

        <!-- Champ Mot de passe -->
        <div class="mb-3 position-relative">
          <label for="password" class="form-label">Mot de passe</label>
          <input
            [type]="hide ? 'password' : 'text'"
            id="password"
            class="form-control"
            formControlName="password"
            required>
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm position-absolute top-50 end-0 translate-middle-y me-2"
            (click)="hide = !hide">
            <i class="bi" [ngClass]="hide ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
          <div class="text-danger mt-1" *ngIf="password?.invalid && password?.touched">
            Le mot de passe est requis et doit contenir au moins 3 caractères.
          </div>
        </div>

      </div>

      <div class="card-footer d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="form.invalid || isLoading"
          style="background-color: #7763C5; border-color: #7763C5;">
          Se connecter
        </button>
      </div>

      <div *ngIf="onError" class="text-center text-danger mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>

