.articles-container {
  padding: 20px;
}

.articleDiv {
  background-color: #F5F5F5;
  border-radius: 12px;
  padding: 20px
}

.btn-primary {
  background-color: #7763C5 !important;
  border-color: #7763C5 !important;
}

.btn-primary:hover {
  background-color: #5e4cb3 !important;
  border-color: #5e4cb3 !important;
}

.card {
  border-radius: 12px !important; /* Coins arrondis */
  overflow: hidden;

}

 .footer .btn-link {
  color: #7763C5;
  font-weight: bold;
}

.footer .btn-link:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center !important;
}

.text-muted {
  color: #6c757d !important;
}

