<div class="articles-container container-fluid mt-5">
  <!-- Bouton d'ajout d'un nouvel article -->
  <div class="d-flex justify-content-center justify-content-md-start mb-4 mt-5">
    <button class="btn btn-primary" routerLink="/articles/create">
      Créer un article
    </button>
  </div>
  <div class="d-flex justify-content-center justify-content-md-end mb-4 mt-5">
    <div class="dropdown">
      <a
        class="nav-link"
        type="button"
        id="sortDropdown"
        (click)="toggleSort()">
        Trier par date
        <ng-container *ngIf="sortAscending">
          <img src="assets/img/arrow-up.svg" alt="Tri croissant" style="width: 16px; height: 16px;">
        </ng-container>
        <ng-container *ngIf="!sortAscending">
          <img src="assets/img/arrow-down.svg" alt="Tri décroissant" style="width: 16px; height: 16px;">
        </ng-container>
      </a>
    </div>
  </div>
  <!-- Vérifie si les articles sont chargés -->
  <div *ngIf="articles | async as articlesResponse; else loading">
    <div *ngIf="articlesResponse.articles && articlesResponse.articles.length > 0; else noArticles">

      <div class="row g-4">
        <div
          class="col-md-6 col-12"
          *ngFor="let article of sortedArticles(articlesResponse.articles)">
          <div class=" card articleDiv h-100">
            <div class="header">
              <h5 class="title mb-1">{{ article.name }}</h5>
              <p class="subtitle text-muted">Date {{ article.datePosted | date: 'dd/MM/yyyy' }} • Auteur {{ article.author }}</p>
            </div>
            <div class="body">
              <p class="text">{{ article.content | slice: 0:500 }}...</p>
            </div>
            <div class="footer text-end">
              <button class="btn btn-link text-primary p-0" [routerLink]="['/articles/detail', article.id]">Lire plus</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Template pour afficher le message si aucun article n'est disponible -->
  <ng-template #noArticles>
    <p class="text-center text-muted">Aucun article disponible pour le moment.</p>
  </ng-template>

  <!-- Template pour afficher le chargement -->
  <ng-template #loading>
    <p class="text-center text-muted">Chargement des articles...</p>
  </ng-template>
</div>

