.register {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centre verticalement */
  height: 100vh; /* Assure que la div occupe toute la hauteur de la fenêtre */

  mat-card {
    margin: 20px;
    max-width: 400px; /* Limite la largeur de la carte */
    width: 100%;
    background-color: #fff; /* Ajoute un fond blanc */
    padding: 20px; /* Ajoute un peu d'espace autour */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre pour l'esthétique */
    border-radius: 8px; /* Coins arrondis */
  }

  mat-card-header {
    text-align: center;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espace entre les champs */
  }

  mat-card-actions {
    margin-top: 20px;
    text-align: center;
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
}
