.register {
  height: 100vh;
  background-color: #f8f9fa; /* Optionnel, pour donner un fond gris */
}

.card {
  border-radius: 12px !important; /* Coins arrondis */
}

.form-control {
  border-radius: 8px !important; /* Bordure arrondie */
  border: 2px solid #000 !important; /* Bordure noire */
  background-color: #fff !important; /* Fond blanc */
}

.form-control:focus {
  box-shadow: none !important; /* Empêche le glow de focus par défaut */
  border-color: #7763C5 !important; /* Couleur de focus personnalisée */
}

.btn-primary {
  background-color: #7763C5 !important;
  border-color: #7763C5 !important;
}

.btn-primary:hover {
  background-color: #5e4cb3 !important;
  border-color: #5e4cb3 !important;
}

.text-danger {
  font-size: 14px;
}

button.btn-outline-secondary {
  border: none !important;
}

