.card {
  border-radius: 8px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

hr {
  border: 1px solid #ddd;
}
.btn-primary {
  background-color: #7763C5 !important;
  border-color: #7763C5 !important;
}

.btn-primary:hover {
  background-color: #5e4cb3 !important;
  border-color: #5e4cb3 !important;
}
