.btn-primary {
  background-color: #7763C5 !important;
  border-color: #7763C5 !important;
}

.btn-primary:hover {
  background-color: #5e4cb3 !important;
  border-color: #5e4cb3 !important;
}

.theme-card {
  border-radius: 8px;
  padding: 20px;
  background-color: #F5F5F5;
  overflow: hidden;
  }
